---
name: "{{ item.name }}"
group: "{{ item.services }}"
ansible_ssh_host: "{{ facts['virtual_machines']['%s' | format(item.name)]['ip_address']  }}"
ansible_ssh_port: "{{ new_port }}"
inventory_dir: "{{ inventory_dir }}"
ansible_ssh_user: "{{ '{{ vault_ssh_user }}' }}"
ansible_ssh_pass: "{{ '{{ vault_ssh_pass }}' }}"
ansible_become_user: "{{ '{{ vault_become_user }}' }}"
ansible_become_pass: "{{ '{{ vault_become_pass }}' }}"
ansible_ssh_extra_args: '-o StrictHostKeyChecking=no'
lvg: "{{ item.lvg }}"
lvol: "{{ item.lvol }}"
